<ion-view title="Cockpit de Administração">
  <ion-nav-title>
    Cockpit de Administração
  </ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
              <p align="center">Página inicial de Administração do</p>
                </br>
                <p align="center"><strong>AgrizApp</strong></p>
                <p>Entrada para as funções:</p>
                <ol>
                  <li>- Administração de usuários, permissões e pagamentos</li>
                  <li>- Configuração da lista de contratos na aba cotações</li>
                  <li>- Configuração da lista de salas de chat públicas</li>
                  <li>- Supervisão de conteúdo ofensivo</li>
                  <li>- Gestão de anúncios na plataforma</li>
                </ol>
            </div>
        </div>
    </ion-content>
</ion-view>
