<ion-view view-title="Perfil">
    <ion-content>
        <form>
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
                    </label>
            <label class="item item-input">
                <span class="input-label">Sobrenome</span>
                <input type="text" placeholder="">
                    </label>
            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <input type="email" placeholder="">
                    </label>
            <label class="item item-input">
                <span class="input-label">Data de Nascimento</span>
                <input type="date" placeholder="">
                    </label>
        </form>
    </ion-content>
</ion-view>
