<ion-view view-title="{{title}}">
  <ion-nav-title>
    {{title}}
  </ion-nav-title>

    <div class="bar bar-subheader bar-stable quotes-header">
      <div class="row row-center">
        <div class="col col-left">Nome</div>
        <div class="col col-right">Último Preço</div>
        <div class="col col-right">Variação</div>
        <div class="col col-right">Mínima</div>
        <div class="col col-right">Máxima</div>
      </div>
    </div>

  <div class="spacer-quotes">

    <ion-content class="has-subheader quotes-content">
      <ion-list class="quotes-list">
        <ion-item ng-repeat="factor in quotes.objs" class="item-icon-right">
          <div class="row row-center row-master">
            <div class="col col-left">{{factor.description}}</div>
            <div class="col col-right bias-{{factor.bias}}">{{factor.last}}</div>
            <div class="col col-right bias-{{factor.bias}}">{{factor.change}}</div>
            <div class="col col-right">{{factor.low}}</div>
            <div class="col col-right">{{factor.high}}</div>
          </div>
        </ion-item>
      </ion-list>
      <div><span>{{message}}</span></div>
      <div class="quotes-updatetime"><span>{{quotes.timestring}}</span></div>
    </ion-content>
  </div>
</ion-view>
