<ion-view title="Relatórios AgrizApp">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <p align="center">Aqui precisamos da ajuda da TO BE.<br><br>Queremos construir relatórios com informações consolidadas, de ritmo de plantio, colheita e venda, que podem ser consultados por região ou cultura.</p>
                </br>
                <p align="center">Estes relatórios serão atualizados em tempo real</p>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <canvas id="bar" class="chart chart-bar" data="graph.data" labels="graph.labels" series='graph.series' height="150"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <canvas id="line" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="150"></canvas>
            </div>
        </div>

    </ion-content>
</ion-view>
