<ion-tabs style="top:0;" class="tabs-icon-top tabs-balanced">

  <!-- Chats Tab -->
  <ion-tab title="Chat" nav-clear icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="app.tabs.chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Quotes Tab -->
  <ion-tab title="Cotações" nav-clear icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" ui-sref="app.tabs.quotes">
      <ion-nav-view name="tab-quotes"></ion-nav-view>
  </ion-tab>

  <!-- Weather Tab -->
  <ion-tab title="Clima" nav-clear icon-off="ion-ios-partlysunny-outline" icon-on="ion-ios-partlysunny" ui-sref="app.tabs.weather">
      <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>

</ion-tabs>
